# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: "your secret key base"
  mailer_sender: "your gmail account"
  mailer_pw: "your gmail password"
  fb_client: "your facebook app id"
  fb_secret: "your facebook secret key"

test:
  secret_key_base: "your secret key base"
  mailer_sender: "your gmail account"
  mailer_pw: "your gmail password"
  fb_client: "your facebook app id"
  fb_secret: "your facebook secret key"

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  mailer_sender: <%= ENV["SECRET_MAILER_SENDER"] %>
  mailer_pw: <%= ENV["SECRET_MAILER_PW"] %>
  fb_client: <%= ENV["SECRET_FB_CLIENT"] %>
  fb_secret: <%= ENV["SECRET_FB_SECRET"] %>
